<div class="blankets" ng-switch="aKennel" style="border-top: dashed 1px #CCC;padding-top: 10px;margin-top: 10px;">

	<div ng-switch-when="5">For more information about this pet, please contact The Animal Foundation's Adoption Department at 702-384-3333 x131 or <a href="mailto:adoptions@animalfoundation.com?Subject=Adoptions">email us</a>.  <a href="https://www.google.com/maps/dir//655+N+Mojave+Rd,+Las+Vegas,+NV+89101/@36.1766577,-115.1063606,18z/data=!4m13!1m4!3m3!1s0x80c8c347dd0c1d03:0x1ef28d0854df7c90!2s655+N+Mojave+Rd,+Las+Vegas,+NV+89101!3b1!4m7!1m0!1m5!1m1!1s0x80c8c347dd0c1d03:0x1ef28d0854df7c90!2m2!1d-115.1065189!2d36.1766642" target="_new">Click here for directions to The Animal Foundation's Campus Adoption Center</a>.
    <h5><a href="javascript: return false;" ng-click="showDetails = ! showDetails">Hours of operation</a></h5>
        <div ng-show="showDetails">
            <ul>
                <li>Monday: 11:00am-7:00pm</li>
                <li>Tuesday: 11:00am-7:00pm</li>
                <li>Wednesday: 11:00am-7:00pm</li>
                <li>Thursday: 11:00am-7:00pm</li>
                <li>Friday: 11:00am-7:00pm</li>
                <li>Saturday: 11:00am-7:00pm</li>
                <li>Sunday: 11:00am-7:00pm</li>
            </ul>
            <p><a href="http://animalfoundation.com/location-hours/">Click here to note holiday hours.</a></p>
        </div>
    
    </div>
    
    <div ng-switch-when="T">For more information about this pet, please contact The Animal Foundation's Adoption Department at 702-384-3333 x131 or <a href="mailto:adoptions@animalfoundation.com?Subject=Adoptions">email us</a>.  <a href="https://www.google.com/maps/dir//655+N+Mojave+Rd,+Las+Vegas,+NV+89101/@36.1766577,-115.1063606,18z/data=!4m13!1m4!3m3!1s0x80c8c347dd0c1d03:0x1ef28d0854df7c90!2s655+N+Mojave+Rd,+Las+Vegas,+NV+89101!3b1!4m7!1m0!1m5!1m1!1s0x80c8c347dd0c1d03:0x1ef28d0854df7c90!2m2!1d-115.1065189!2d36.1766642" target="_new">Click here for directions to The Animal Foundation's Campus Adoption Center</a>.
    <h5><a href="javascript: return false;" ng-click="showDetails = ! showDetails">Hours of operation</a></h5>
        <div ng-show="showDetails">
            <ul>
                <li>Monday: 11:00am-7:00pm</li>
                <li>Tuesday: 11:00am-7:00pm</li>
                <li>Wednesday: 11:00am-7:00pm</li>
                <li>Thursday: 11:00am-7:00pm</li>
                <li>Friday: 11:00am-7:00pm</li>
                <li>Saturday: 11:00am-7:00pm</li>
                <li>Sunday: 11:00am-7:00pm</li>
            </ul>
            <p><a href="http://animalfoundation.com/location-hours/">Click here to note holiday hours.</a></p>
        </div>
    </div>
    
    <div ng-switch-when="P">For more information about this pet, please contact The Animal Foundation's PetSmart Charities Everyday Adoption Center at (702) 558-9326 (option 5) or <a href="mailto:adoptions@animalfoundation.com?Subject=Adoptions">email us</a>. <a href="https://www.google.com/maps/dir//286+W+Lake+Mead+Pkwy,+Henderson,+NV+89015/@36.0389307,-114.9918201,17z/data=!4m13!1m4!3m3!1s0x80c8d6b667474c47:0xe3df8f5245c62567!2s286+W+Lake+Mead+Pkwy,+Henderson,+NV+89015!3b1!4m7!1m0!1m5!1m1!1s0x80c8d6b667474c47:0xe3df8f5245c62567!2m2!1d-114.9918201!2d36.0389307" target="_new">Click here for directions to The Animal Foundation's PetSmart Charities</a>.
    <h5><a href="javascript: return false;" ng-click="showDetails = ! showDetails">Hours of operation</a></h5>
        <div ng-show="showDetails">
            <ul>
                <li>Monday: 9:00am-8:00pm</li>
                <li>Tuesday: 9:00am-8:00pm</li>
                <li>Wednesday: 9:00am-8:00pm</li>
                <li>Thursday: 9:00am-8:00pm</li>
                <li>Friday: 9:00am-8:00pm</li>
                <li>Saturday: 9:00am-8:00pm</li>
                <li>Sunday: 9:00am-7:00pm</li>
            </ul>
            <p><a href="http://animalfoundation.com/location-hours/">Click here to note holiday hours.</a></p>
        </div>
    </div>
    
    <div ng-switch-when="O">This pet is currently attending an event offsite. For more information, please contact The Animal Foundation's Adoption Department at 702-384-3333 x131 or <a href="mailto:adoptions@animalfoundation.com?Subject=Adoptions">email us</a>.</div>
    
    <div ng-switch-when="E">For more information about this pet, please contact The Animal Foundation's Adoption Department at 702-384-3333 x131 or <a href="mailto:adoptions@animalfoundation.com?Subject=Adoptions">email us</a>. <a href="https://www.google.com/maps/dir//655+N+Mojave+Rd,+Las+Vegas,+NV+89101/@36.1766577,-115.1063606,18z/data=!4m13!1m4!3m3!1s0x80c8c347dd0c1d03:0x1ef28d0854df7c90!2s655+N+Mojave+Rd,+Las+Vegas,+NV+89101!3b1!4m7!1m0!1m5!1m1!1s0x80c8c347dd0c1d03:0x1ef28d0854df7c90!2m2!1d-115.1065189!2d36.1766642" target="_new">Click here for directions to The Animal Foundation's Campus Adoption Center</a>.
    <h5><a href="javascript: return false;" ng-click="showDetails = ! showDetails">Hours of operation</a></h5>
        <div ng-show="showDetails">
            <ul>
                <li>Monday: 11:00am-7:00pm</li>
                <li>Tuesday: 11:00am-7:00pm</li>
                <li>Wednesday: 11:00am-7:00pm</li>
                <li>Thursday: 11:00am-7:00pm</li>
                <li>Friday: 11:00am-7:00pm</li>
                <li>Saturday: 11:00am-7:00pm</li>
                <li>Sunday: 11:00am-7:00pm</li>
            </ul>
            <p><a href="http://animalfoundation.com/location-hours/">Click here to note holiday hours.</a></p>
        </div>
    </div>
    
    <div ng-switch-when="C">For more information about this pet, please contact The Animal Foundation's Adoption Department at 702-384-3333 x131 or <a href="mailto:adoptions@animalfoundation.com?Subject=Adoptions">email us</a>.  <a href="https://www.google.com/maps/dir//655+N+Mojave+Rd,+Las+Vegas,+NV+89101/@36.1766577,-115.1063606,18z/data=!4m13!1m4!3m3!1s0x80c8c347dd0c1d03:0x1ef28d0854df7c90!2s655+N+Mojave+Rd,+Las+Vegas,+NV+89101!3b1!4m7!1m0!1m5!1m1!1s0x80c8c347dd0c1d03:0x1ef28d0854df7c90!2m2!1d-115.1065189!2d36.1766642" target="_new">Click here for directions to The Animal Foundation's Campus Adoption Center</a>.
    <h5><a href="javascript: return false;" ng-click="showDetails = ! showDetails">Hours of operation</a></h5>
        <div ng-show="showDetails">
            <ul>
                <li>Monday: 11:00am-7:00pm</li>
                <li>Tuesday: 11:00am-7:00pm</li>
                <li>Wednesday: 11:00am-7:00pm</li>
                <li>Thursday: 11:00am-7:00pm</li>
                <li>Friday: 11:00am-7:00pm</li>
                <li>Saturday: 11:00am-7:00pm</li>
                <li>Sunday: 11:00am-7:00pm</li>
            </ul>
            <p><a href="http://animalfoundation.com/location-hours/">Click here to note holiday hours.</a></p>
        </div>
    </div>
    
    <div ng-switch-when="S">For more information about this pet, please contact The Animal Foundation's Adoption Department at 702-384-3333 x131 or <a href="mailto:adoptions@animalfoundation.com?Subject=Adoptions">email us</a>. <a href="https://www.google.com/maps/dir//655+N+Mojave+Rd,+Las+Vegas,+NV+89101/@36.1766577,-115.1063606,18z/data=!4m13!1m4!3m3!1s0x80c8c347dd0c1d03:0x1ef28d0854df7c90!2s655+N+Mojave+Rd,+Las+Vegas,+NV+89101!3b1!4m7!1m0!1m5!1m1!1s0x80c8c347dd0c1d03:0x1ef28d0854df7c90!2m2!1d-115.1065189!2d36.1766642" target="_new">Click here for directions to The Animal Foundation's Campus Adoption Center</a>.
    <h5><a href="javascript: return false;" ng-click="showDetails = ! showDetails">Hours of operation</a></h5>
        <div ng-show="showDetails">
            <ul>
                <li>Monday: 11:00am-7:00pm</li>
                <li>Tuesday: 11:00am-7:00pm</li>
                <li>Wednesday: 11:00am-7:00pm</li>
                <li>Thursday: 11:00am-7:00pm</li>
                <li>Friday: 11:00am-7:00pm</li>
                <li>Saturday: 11:00am-7:00pm</li>
                <li>Sunday: 11:00am-7:00pm</li>
            </ul>
            <p><a href="http://animalfoundation.com/location-hours/">Click here to note holiday hours.</a></p>
        </div>
    </div>
    
    <div ng-switch-default>Think this pet is yours? Please contact The Animal Foundation's Receiving Department at 702-384-3333 x112 immediately or email us <a href="mailto:receiving@animalfoundation.com?Subject=Lost and Found">email us</a>. <a href="https://www.google.com/maps/dir//655+N+Mojave+Rd,+Las+Vegas,+NV+89101/@36.1766577,-115.1063606,18z/data=!4m13!1m4!3m3!1s0x80c8c347dd0c1d03:0x1ef28d0854df7c90!2s655+N+Mojave+Rd,+Las+Vegas,+NV+89101!3b1!4m7!1m0!1m5!1m1!1s0x80c8c347dd0c1d03:0x1ef28d0854df7c90!2m2!1d-115.1065189!2d36.1766642" target="_new">Click here for directions to The Animal Foundation's Campus</a>.
    <h5><a href="javascript: return false;" ng-click="showDetails = ! showDetails">Hours of operation</a></h5>
        <div ng-show="showDetails">
            <ul>
                <li>Monday: 10:00am-7:00pm</li>
                <li>Tuesday: 10:00am-7:00pm</li>
                <li>Wednesday: 10:00am-7:00pm</li>
                <li>Thursday: 10:00am-7:00pm</li>
                <li>Friday: 10:00am-7:00pm</li>
                <li>Saturday: 10:00am-7:00pm</li>
                <li>Sunday: 10:00am-7:00pm</li>
            </ul>
        </div>
    </div>
    </div>
    
</div>
