// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Brand Colors 
$primary-white: #FFFFFF;
$primary-dblue: #00457c;
$primary-lblue: #1daeec;
$primary-red: #da2523;
$primary-purple: #9567d7;
$primary-green: #a6ce3a;
$primary-gray: #8a8a8a;
$primary-lgray: #a1a1a1;
$primary-black: #21201f;

@font-face {
	font-family: 'Permanent Marker';
	src: url('../../assets/fonts/PermanentMarker.eot');
	src: url('../../assets/fonts/PermanentMarker.eot?#iefix') format('embedded-opentype'),
		url('../../assets/fonts/PermanentMarker.woff') format('woff'),
		url('../../assets/fonts/PermanentMarker.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
$primary-font : 'Permanent Marker';

