/* Secondary */
.breadcrumbs {
	height: 50px;
	color: #e5e5e5;
	background-color: none;

	>div{
		padding-top: 14px;
	}
}
.breadcrumb {
	background-color: transparent;
	padding: 0px 0px;
	a {
		color: #e5e5e5;
	}
	strong {
		font-weight: normal;
	}
	> .active {
	    color: inherit;
	  }
}
.subHeader {
	position: relative;
	background-image: url(../images/feat_image.png);
	background-size: cover;

	.colorBar {
		width: 20%;
	    background: $primary-green;
	    height: 43.5%;
	    position: absolute;
	    bottom: 0px;
	}
	.container {
		>div {
			position: relative;
		}
	}
	h1 {
		font-size: 50px;
		position: absolute;
		bottom: 0px;
		background: $primary-green;
		background-image: url(../images/paw.png);
		float: left;
		margin-bottom: 0px;
		margin-left: 0px;
		font-weight: 600;
		color: $primary-white;
	}
}
.content {
	padding-top: 40px;
	padding-bottom: 40px;

	.sidebar {
		&.stuck {
			position: fixed;
	    	top: 100px;
	    	width: 293px;
		}
		ul{
			
			li {
				margin-bottom: 1rem;
				&.current_page_item {
					
					a {
						font-weight: 600;
						border: 2px solid $primary-green;
						color: $primary-green;
					}
				}

				a {
					display: block;
					font-size: 1.29em;
					text-align: center;
					padding: 18px 0px 18px 0px;
					font-weight: 500;
					color: $primary-lgray;
					border: 2px solid $primary-white;
					border-bottom: 2px solid $primary-lgray;
					&:hover {
						border: 2px solid $primary-green;
						text-decoration: none;
						color: $primary-green;
					}
					&.active {
						border: 2px solid $primary-green;
						color: $primary-green;
					}
				}
				&.page_item_has_children .children {
					display: none;
				}
			}
		}
	}
	.block {
		padding-left: 35px;
		font-size:1.33em;

		h1, h2, h3, h4, h5, h6 {
		    margin-top: 3.5rem;
		    margin-bottom: 0;
		    line-height: 3.5rem;
		}

		h2{
			color: $primary-green;
			font-weight: 600;
			margin-bottom: 0;
			font-size:4.5rem;
			text-rendering: optimizeLegibility;
			&:first-child {
				margin-top: 15px;
			}
			span {
				font-weight:700;
			}
		}
		h3 {
			color: $primary-green;
			font-weight: 600;
			font-size:3.5rem;
			line-height:3.5rem;
		    margin-bottom: 0;
		    text-rendering: optimizeLegibility;
		}
		h4 {
			color: $primary-green;
			font-size: 2.8rem;
			font-weight: 600;
			line-height:2.8rem;
			margin-bottom: 0;
			text-rendering: optimizeLegibility;
		}
		h5 {
			color: $primary-green;
			font-size: 2.5rem;
			font-weight: 600;
			line-height:2.5rem;
			margin-bottom: 0;
			text-rendering: optimizeLegibility;
		}
		h6 {
			color: $primary-green;
			font-size: 1.8rem;
			font-weight: 600;
			line-height:1.8rem;
		    margin-bottom: 0;
		    text-rendering: optimizeLegibility;
		}
		p {
			line-height: 3.5rem;
		    margin-top: 3.5rem;
		    margin-bottom: 0;
		}
		ul,ol {
			line-height: 1.9em;
			margin-top: 3.5rem;
    		margin-bottom: 3.5rem;
		}
		ul li, ol li {
		    line-height: 3.5rem;
		}
		blockquote {
			padding: 0px;
			margin: 0px;
			border-left: none;
		}
		blockquote p{
		    line-height: 3.5rem;
		    margin:3.5rem;
		}
	}
}

/* Small devices (tablets, 768px and up) Nick */
@media (min-width: $screen-sm-min) { 
	
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {  
	
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {  
	.subHeader {
		
		.colorBar {
			width: 40%;
		}

		.container {
			>div >div{
				min-height: 255px;
			}
		}
		h1 {
			font-size: 50px;
			position: absolute;
			padding: 28px 50px 28px 80px;
			bottom: 0px;
			background: $primary-green;
			float: left;
			background-image: url(../images/paw.png);
			background-repeat: no-repeat;
			background-position-x: 0px;
			background-position-y: 30px;
			margin-bottom: 0px;
			font-weight: 700;
			color: $primary-white;
		}
}
}